<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplikasi untuk mencari Restaurant">
    <meta name="theme-color" content="#203239"/>
    <title>Culinary App</title>
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
<body>
<button href="#maincontent" class="skip-link">Menuju ke Konten</button>
<div id="hamburger-container"><a id="hamburger" aria-label="menu" href="#">☰</a></div>
<nav id="drawer">
    <div class="logo">
        <h1>Culinary App</h1>
    </div>
    <ul class="menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/jejeaf2/">About Us</a></li>
    </ul>
</nav>
<main id="maincontent" tabindex="0"></main>
<footer>
    <div>Copyright © 2022 - Culinary App</div>
</footer>
</body>
</html>
